{% extends 'base.html' %}

{% block content %}
<h1>mood tabs</h1>
<p>Keep tabs on your mood</p>
<ul>

    <li><a href="{{ url_for('moods.all') }}">Mood Types</a></li>
    {% if current_user.is_authenticated %}
    {% if current_user.is_admin %}
    <li><a href="{{ url_for('users.all_users') }}">All Users</a></li>
    <li><a href="{{ url_for('moods.create') }}">Add a new mood</a></li>

    {% endif %}
    <li><a href="{{ url_for('moods.index') }}">Update Mood</a></li>
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    {% else %}
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    {% endif %}
</ul>
{% endblock %}