{% extends 'base.html' %}

{% block content %}
<h1>Me</h1>
<ul>
    {% for label,value in user_data.items() %}
    <li>
        {{ label }}: <stong>{{ value }}</stong>
    </li>
  {% endfor %}
</ul>
{% if moods %}
<h4>Past Moods</h4>
<table class="table">
  <thead">
    <tr>
    {% for k in moods[0].keys() %}
      <th scope="col">
        {{ k }}<stong>
      </th>
    {% endfor %}
    </tr>
  </thead>

  <tbody>
  {% for mood in moods %}
  <tr scope="row">
    {% for k in mood.keys() %}
    <td>
      {{ mood[k] }}
    </td>
    {% endfor %}
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}



{% endblock %}