
table {
  border-collapse: separate; 
  border-spacing: 1em;
}

.row-sad {
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 243, 243);
  padding: 100em ;

}

.row-happy {
  justify-content: center;
  align-items: center;
  background-color:rgb(175, 220, 165);
  padding: 100em;
}

